<html>
    <body>
    <h1>Edit Restaurant</h1><br><br>
   <form action="/update" method ="post" enctype="multipart/form-data">

    Name:
    <input type="text" name="name" value="<%=restaurants.name %>"> <br>
    
    Borough:
    <input type="text" name="borough" value="<%=restaurants.borough %>"><br>

    Cuisine:
    <input type="text" name="cuisine" value="<%=restaurants.cuisine %>"><br>

    Street:
    <input type="text" name="street"   value="<%=restaurants.address.street %>"><br>

    Building:
    <input type="text" name="building" value="<%=restaurants.address.building %>"> <br>

    Zipcode:
    <input type="text" name="zipcode" value="<%=restaurants.address.zipcode %>"> <br>

    GPS Coordinates(lon.):
    <input type="text" name="gpslon" value="<%=restaurants.address.coord.gpslon%>"> <br>

    GPS Coordinates(lat.):
    <input type="text" name="gpslat" value="<%=restaurants.address.coord.gpslat%>"><br>

    Photo:</br>
    <input type="file" name="filetoupload"><br>

    <input type="submit" value="Update"><br>

</form>
    </body>

</html>